.day {
    background: url("../../../public/assets/mobile/bg-image-daytime.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media screen and (min-width: 780px) {
        background-image: url("../../../public/assets/tablet/bg-image-daytime.jpg");
    }

    @media screen and (min-width: 1180px) {
        background-image: url("../../../public/assets/desktop/bg-image-daytime.jpg");
    }
}

.night {
    background: url("../../../public/assets/mobile/bg-image-nighttime.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media screen and (min-width: 780px) {
        background-image: url("../../../public/assets/tablet/bg-image-nighttime.jpg");
    }

    @media screen and (min-width: 1180px) {
        background-image: url("../../../public/assets/desktop/bg-image-nighttime.jpg");
    }
}
